.form-select {
    position: relative; /* Ensure positioning context */
  }
.form-select:focus {
    z-index: 1050; /* Bring the dropdown to the front when focused */
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    min-height: 350px;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .d-none {
    display: none !important;
  }

.rating-box {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    opacity: 1;
    transition: transform 0.2s, opacity 0.2s, box-shadow 0.2s;
    text-align: center;
    font-weight: bold;
    user-select: none;
    border: 2px solid transparent;
  }
  
  .rating-box:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .rating-box.selected {
    opacity: 1;
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  